security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker
            form_login:
                login_path: app_login
                check_path: app_login
                username_parameter: email
                password_parameter: password
                enable_csrf: true
                success_handler: App\Security\AuthenticationSuccessHandler 


            logout:
                path: app_logout
                target: app_login
                invalidate_session: true

    access_control:
    - { path: ^/admin/dashboard, roles: ROLE_ADMIN }
    - { path: ^/admin/demandes, roles: ROLE_ADMIN }
    - { path: ^/admin/ambulances, roles: ROLE_ADMIN }
    - { path: ^/admin/chauffeurs, roles: ROLE_ADMIN }
    - { path: ^/admin/clients, roles: ROLE_ADMIN }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: ROLE_USER }
    - { path: ^/admin, roles: ROLE_ADMIN }
